ISSUER_BASE_URL=https://
CLIENT_ID=
CLIENT_SECRET=
AUDIENCE=

# 32+ character random string to encrypt the session cookie
#
# We're generating a secret for your convenience, but for production
# generate your own secret using `openssl rand -hex 32`
SECRET=

BASE_URL=http://localhost:3000
PORT=3000
